{% extends 'base.html' %}

{% load static %}
{% block content %}
    <title> Catalogo </title>
<div class="container">
        <div class="row">
            <div class="box">
                <div class="col-md-6">
                  <a href="compra.html">
                    <img id="fotoamasando" src="{% static 'app/img/c1.jpg' %}" alt="fondo" class="zoom">
                    <div class="text-block">Pizza Napolitana</div>
                  </a>

                </div>
                <div class="col-md-6">
                  <a href="compra.html">
                    <img id="fotoamasando" src="{% static 'app/img/c2.jpg' %}" alt="fondo" class="zoom">
                    <div class="text-block">Pizza Vegetariana</div>
                    </a>
                </div>
                <div class="col-md-6">
                  <a href="compra.html">
                    <img id="fotoamasando" src="{% static 'app/img/c3.jpg' %}" alt="fondo" class="zoom">
                    <div class="text-block">Pizza extra queso</div>
                  </a>
                </div>
                <div class="col-md-6">
                  <a href="compra.html">
                    <img id="fotoamasando" src="{% static 'app/img/c4.jpg' %}" alt="fondo" class="zoom">
                    <div class="text-block">Pizza pepperoni</div>
                  </a>
                </div>
                <div class="col-md-6">
                  <a href="compra.html">
                    <img id="fotoamasando" src="{% static 'app/img/c5.jpg' %}" alt="fondo" class="zoom">
                    <div class="text-block">Pizza Romana </div>
                  </a>
                </div>
                <div class="col-md-6">
                  <a href="compra.html">
                    <img id="fotoamasando" src="{% static 'app/img/c6.jpg' %}" alt="fondo" class="zoom">
                    <div class="text-block">Pizza de la Casa</div>
                  </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>
    <br><br><br><br>
    <footer id="footer">
        <p>2020 &copy; Yummy Pizza's. Todos los derechos reservados</p>
    </footer>


{% endblock %}