{% extends 'base.html' %}

{% block content %}
    <title> Contacto </title>
<div class="container">
  <h2>Contacto</h2>
  <form action="" name ="contacto" class="formulario_contacto" method="post">

      {% csrf_token %}
      {{ form }}
      <br>
        <button type="submit" class="btn btn-default" id="btnEnviar">Enviar</button>
  </form>
{{ mensaje }}
</div>
    <br><br><br>
    <footer id="footer">
        <p>2020 &copy; Yummy Pizza's. Todos los derechos reservados</p>
    </footer>

{% endblock %}